<div class="container row">

    <div class="col">
        <label class="form-label " for="nome"> Nome: </label><br>
        <input [(ngModel)]="pessoa.nome" class="form-control" type="text" name="nome" id="nome">

    </div>

    <div class=" col">
        <label class="form-label" for="nome"> Sobrenome: </label><br>
        <input [(ngModel)]="pessoa.sobrenome" class="form-control" type="text" name="sobrenome" id="sobrenome">

    </div>


    <div class="row">
        <div class="col-6">
            <label class="form-label" for="telefone"> Telefone: </label><br>
            <input [(ngModel)]="pessoa.telefone" class="form-control" type="tel" name="telefone" id="telefone">

        </div>

        <div class="">
            <label class="form-label" for="endereco"> Endereço: </label><br>
            <input [(ngModel)]="pessoa.endereco" class="form-control" type="text" name="endereco" id="endereco">



            {{pessoa.nome}} {{pessoa.sobrenome}} <br>
            {{pessoa.telefone}} <br>
            {{pessoa.endereco}} <br>
        </div>

    </div>

</div>