mat-drawer{
  width:300px ;
}

mat-drawer-container{
  height: 100vh;
}

.example-spacer{
  flex: 1 1 auto;
}

//.section {
//  margin: 0 30rem;
//  padding: 5rem;
//  background-color: silver;
//  border-radius: 1rem;
//}
